<!-- 
steaps for solution
  [1] == add this file in your project (main-style.css), and import it
  [2] == remove all inline style with out, (style="opacity: .5;")
  [3] == remove all classes, with out (class="circles")
  [4] == add my classes
  [5] == remove my icon and add your icon
  [6] == you can delete the comment from your code 
-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- this link for icon you can remove it -->
    <link rel="stylesheet" href="all.min.css">
    <!-- add this file in your project and import it-->
    <link rel="stylesheet" href="main-style.css">
    <title>page</title>
  </head>
<body>
<ng-container *ngIf="isDesktop; then desktopHeader else mobileHeader"></ng-container>

<ng-template #desktopHeader>
  <!-- add class "header-fixd" -->
  <div class="header-fixd" *ngIf="schoolExists">
    <!-- Circles background -->
    <div>
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <!-- add class "container-fixd" -->
    <div class="container-fixd">
      <div>
        <div>
          <h2>
            <!-- add class "title-fixd" -->
            <div class="title-fixd">
              Louisiana State University Health Sciences Center-Shrveport
              <a *ngIf="(user?.userRole == 'admin' || user?.userRole == 'super admin' || schoolObj?.currentOwnerUID == user?.uid)" (click)="editSchool()" matTooltip="Edit school" matTooltipPosition="below"><i class="pencil icon"></i></a>
            </div>
          </h2>
        </div>
      </div>
      <div>
        <div>
          <!-- add class "home-fixd" -->
          <button class="home-fixd" (click)="navToHome()">
            <i class="fa-solid fa-arrow-left-long"></i>
            <i class="left arrow icon" matTooltip="Go home" matTooltipPosition="below"></i>
          </button>
        </div>
        <!-- add class "sup-title-fixd" -->
        <div class="sup-title-fixd" >
          <span *ngIf="schoolObj?.state; then showState else showCountry"></span>
          <ng-template #showState><div><span>Shreveporat,</span></div></ng-template>
          <ng-template #showCountry><div><span> LA</span></div></ng-template>
        </div>
      </div>
      <div>
        <!-- add class icon-fixd -->
        <div class="icon-fixd">
            <ng-content *ngIf="user?.uid; then setSchoolEnabled else setSchoolDisabled"></ng-content>
            <!-- <ng-template #setSchoolEnabled>
              <div (click)="setSchool()" matTooltip="{{snackbarSetSchoolSignedIn}}" matTooltipPosition="before" >
                <button style="opacity: .5;" [ngClass]="{'disabled': user?.schoolSet?.name == schoolObj?.name}">
                  add class "custom-fixd"
                  <i class="violet pin icon custom-fixd"></i>
                  <i class="fa-brands fa-github custom-fixd"></i>
                </button>
                <div>Pin</div>
              </div>
            </ng-template> -->
            <ng-template #setSchoolDisabled>
              <div (click)="setSchoolSnackbar()" matTooltip="Set as your school" matTooltipPosition="before" >
                <button>
                  <!-- add class "custom-fixd" -->
                  <!-- <i class="violet pin icon custom-fixd"></i> -->
                  <i class="fa-brands fa-github custom-fixd"></i>
                </button>
                <div>Pin</div>
              </div>
            </ng-template>
            <!-- center-fixd -->
            <div class="center-fixd" (click)="openSchoolActivity()" matTooltip="View school activity" matTooltipPosition="below">
              <button>
                <!-- add class "custom-fixd" -->
                <!-- <i class="violet heartbeat icon custom-fixd"></i> -->
                <i class="fa-brands fa-github custom-fixd"></i>
              </button>
              <div>Activity</div>
            </div>
            <div (click)="openSchoolLeaderboard()" matTooltip="View school leaderboard" matTooltipPosition="after">
              <button>
                <!-- add class "custom-fixd" -->
                <!-- <i class="violet award icon custom-fixd"></i> -->
                <i class="fa-brands fa-github custom-fixd"></i>
              </button>
              <!-- <div *ngIf="schoolObj?.leaderboardUsersCount > 0" matTooltip="Users pinning a school appear in the school's leaderboard" matTooltipPosition="after">{{schoolObj?.leaderboardUsersCount}}</div> -->
              <div>Leaderboard</div>
            </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- <ng-template #mobileHeader>
  add class "header-fixd"
  <div class="header-fixd" *ngIf="schoolExists">
    Circles background
    <div>
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    add class "container-fixd"
    <div class="container-fixd">
      <div>
        <div>
          <h2>
            add class "title-fixd"
            <div class="title-fixd">
              Louisiana State University Health Sciences Center-Shrveport 
              <a *ngIf="(user?.userRole == 'admin' || user?.userRole == 'super admin' || schoolObj?.currentOwnerUID == user?.uid)" (click)="editSchool()" matTooltip="Edit school" matTooltipPosition="below"><i class="pencil icon"></i></a>
            </div>
          </h2>
        </div>
      </div>
      <div>
        add class "home-fixd"
        <div class="home-fixd">
          <i class="left arrow icon" (click)="navToHome()" matTooltip="Go home" matTooltipPosition="below"></i>
        </div>
        add class "sup-title-fixd"
        <div class="sup-title-fixd" >
          <span *ngIf="schoolObj?.state; then showState else showCountry"></span>
          <ng-template #showState><div><span>Shreveporat,</span></div></ng-template>
          <ng-template #showCountry><div><span> LA</span></div></ng-template>
        </div>
      </div>
      <div>
        add class icon-fixd
        <div class="icon-fixd">
          <ng-content *ngIf="user?.uid; then setSchoolEnabled else setSchoolDisabled"></ng-content>
          <ng-template #setSchoolEnabled>
            <button (click)="setSchool()"  matTooltip="Set as your school" matTooltipPosition="below" style="opacity: .5;" [ngStyle]="{'opacity': user?.schoolSet?.name == schoolObj?.name ? '0.5' : 1}">
              add class " custom-fixd"
              <i class="violet pin icon custom-fixd"></i>
              <i class="fa-brands fa-github custom-fixd"></i>
            </button>
            <div>Pin</div>
          </ng-template>
          <ng-template #setSchoolDisabled>
            <button matTooltip="Set as your school" matTooltipPosition="below">
              add class "custom-fixd"
              <i class="violet pin icon custom-fixd"></i>
              <i class="fa-brands fa-github custom-fixd"></i>
            </button>
            <div>Pin</div>
          </ng-template>
          center-fixd
          <div class="center-fixd">
            <button (click)="openSchoolActivity()"  matTooltip="View school activity" matTooltipPosition="below">
              add class "custom-fixd"
              <i class="violet heartbeat icon custom-fixd"></i>
              <i class="fa-brands fa-github custom-fixd"></i>
            </button>
            <div>Activity</div>
          </div>
          <div>
            <button (click)="openSchoolLeaderboard()" matTooltip="View school leaderboard" matTooltipPosition="below">
              add class "custom-fixd"
              <i class="violet award icon custom-fixd"></i>
              <i class="fa-brands fa-github custom-fixd"></i>
            </button>
            <div *ngIf="schoolObj?.leaderboardUsersCount 0" matTooltip="Users pinning a school appear in the school's leaderboard" matTooltipPosition="below"></div>
            <div>Leaderboard</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template> -->

<!-- this link for icon you can remove it -->
<script src="all.min.js"></script>
</body>
</html>